In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import Imputer
from sklearn.grid_search import GridSearchCV


import xgboost as xgb
from xgboost import XGBClassifier
from xgboost import plot_tree

/Users/evazhong/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)
/Users/evazhong/anaconda3/lib/python3.6/site-packages/sklearn/grid_search.py:42: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. This module will be removed in 0.20.
  DeprecationWarning)

#### Load training data

In [2]:
df = pd.read_csv("data/resample_df.csv")
df = df.drop(["Unnamed: 0"],1)
df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,158453.0,2.094561,-0.827280,-1.493206,-0.513444,-0.428918,-0.794959,-0.281462,-0.288319,-0.539413,...,-0.120575,0.051099,0.103849,0.684904,-0.071362,0.761780,-0.080165,-0.049095,65.14,0.0
1,163503.0,1.971197,-0.326286,-1.303626,0.363868,0.099659,-0.301053,-0.024899,-0.091013,0.527642,...,0.191623,0.746659,0.005074,0.860414,0.185236,0.666558,-0.080570,-0.069806,29.61,0.0
2,143201.0,2.031495,-0.269744,-0.536151,0.298784,-0.340236,-0.348439,-0.426236,-0.078201,1.243864,...,-0.218718,-0.446918,0.280030,-0.684374,-0.318016,-0.583326,0.037731,-0.036324,7.99,0.0
3,81865.0,-2.624081,2.153765,0.752903,0.234243,-1.195105,1.798252,-3.797852,-6.979159,-0.908887,...,-3.528764,2.117063,0.327859,0.248706,-0.463584,0.404743,0.207824,0.184777,29.99,0.0
4,80145.0,-0.857634,1.107747,1.063217,1.243953,-0.142669,0.322056,0.146324,0.715638,-0.631533,...,0.066211,0.313025,-0.065624,0.022921,-0.111658,-0.237568,0.292232,0.120861,26.45,0.0

In [3]:
df.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [4]:
# Keep a copy of original df
original_df = pd.DataFrame.copy(df)

# data = data.drop("Cabin",axis=1)

In [8]:
y = df.Class
X = df.drop(["Class"], 1)
# All columns have the type: pandas.core.series.Series
X.shape

(396664, 30)

In [9]:
from sklearn.model_selection import train_test_split

X_sub, X_test, y_sub, y_test = train_test_split(X, y, test_size=0.5, random_state=42)

### Random Forest

### XGBoost Basic

In [10]:
from xgboost import XGBClassifier
# fit model no training data

bst = XGBClassifier()
bst.fit(X_sub, y_sub)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bynode=1, colsample_bytree=1, gamma=0, learning_rate=0.1,
       max_delta_step=0, max_depth=3, min_child_weight=1, missing=None,
       n_estimators=100, n_jobs=1, nthread=None,
       objective='binary:logistic', random_state=0, reg_alpha=0,
       reg_lambda=1, scale_pos_weight=1, seed=None, silent=None,
       subsample=1, verbosity=1)

### XGBoost with Gridsearch Hypertuning and Cross Validation

In [ ]:
# And build a training pipeline with a small amount of hyper-parameter testing

pipeline = Pipeline([('imputer', Imputer(strategy='median')), ('model', XGBClassifier())])

parameters = dict(model__max_depth=[3, 5, 7],
                  model__learning_rate=[.01, .1],
                  model__n_estimators=[100, 500])

cv = GridSearchCV(pipeline, param_grid=parameters)

cv.fit(X_sub, y_sub)

In [ ]:
####

In [ ]:
#### Make predictions

#### Calculate confusion matrix

In [ ]:
#### Plot confusion matrix